.userInfo {
  position: relative;
  border-radius: 3%;
  flex-basis: 30%;
  padding: 30px 0 40px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  overflow: hidden;
  .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    z-index: 1;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: #1369ce;
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 0.9;
      transform: scale(3);
      transition: all 0.3s linear 0s;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #1369ce;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .imgUser {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transform: scale(1);
      transition: all 0.9s ease 0s;
    }
  }
  .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        &:hover {
          color: #1369ce;
          background-color: #f7f5ec;
        }
      }
    }
  }
  .content {
    .detail {
      display: flex;
      justify-content: space-evenly;
      h3 {
        border-right: 1px solid #333;
        padding-right: 15px;
      }
    }
    .repository {
      padding: 40px;
      text-align: center;
      a {
        .btnAnimation {
          border: none;
          transition: all 0.3s ease;
          overflow: hidden;
          &::after {
            position: absolute;
            content: ' ';
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1369ce;
            transition: all 0.3s ease;
          }
          &:hover {
            background: #21acfd;
            &::after {
              transform: scale(2) rotate(180deg);
            }
          }
        }
      }
    }
  }
  &:hover {
    .social {
      bottom: 0;
    }
    .picture {
      img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
      }
      &::before {
        height: 100%;
      }
    }
  }
}

/*====== Responsive screen (MEDIUM : =< 900px)  =======*/

@media screen and (max-width: 900px) {
  .userInfo {
    flex-basis: 47%;
  }
}

/*====== Responsive screen (SMALL: =< 600px) =======*/

@media screen and (max-width: 600px) {
  .userInfo {
    flex-basis: 100%;
  }
}

.btn {
  position: relative;
  z-index: 1;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
}
