.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .search {
    position: relative;
    margin: auto;
    width: 430px;
    max-width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;

    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 12px 24px;
      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid #ffffff;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      &::placeholder {
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      &:hover,
      &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #ffffff;
        border-radius: 0;
        background-position: 100% center;
      }
    }
    .clearInput {
      position: absolute;
      top: 39%;
      margin: auto;
      right: 12px;
      background-color: red;
      color: red;
      padding: 15px;
    }
    .totalCount {
      position: absolute;
<<<<<<< HEAD
      color: #ffffff;
      width: 100%;
      max-width: 100%;
      .empty {
        position: absolute;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        h4 {
          margin-bottom: 15px;
          color: rgb(25, 171, 220);
        }
        span {
          display: block;
          width: 100%;
        }
      }
=======
      top: 100;
      color: #ffffff;
>>>>>>> a1a0ff9 (Search github api complete)
    }
  }

  .header {
    text-align: center;
  }
  .listUser {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
<<<<<<< HEAD
    .empty {
      position: absolute;
      top: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      h4 {
        margin-bottom: 15px;
        color: rgb(25, 171, 220);
      }
    }
=======
>>>>>>> a1a0ff9 (Search github api complete)
  }
}

.loading {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  inset: 0;
  z-index: 1000;
}
